

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: Century Gothic !important;
    background: #27A9E1;

}



h1{
  font-size:  150px;
  padding: 10px;
  margin: 0px;
}

.container{
	margin: auto;
	margin-top: 100px;
	max-width: 600px;
	color:white;
	text-align: center;
}

.logo img{
	padding-top: 40px;
	max-height: 40px;
}

.detail{
	opacity: 0.5;
}