<html ng-app="clickNFe" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template" >

    <head>
	   <title>Home</title>
    </head>

    <body>
      <p class='icon-carregando'>&nbsp;</p>
 		 <div layout:fragment="content" ng-controller="mainController" >
			list list
        </div>



		<div layout:fragment="js-page">
<!-- 		    <script type="text/javascript" src="js/moment.min.js"></script>
			<script type="text/javascript" src="js/highcharts.js"></script>
			<script type="text/javascript" src="js/exporting.js"></script>
	        <script type="text/javascript" src="js/dashboard/home.js"></script>
	        <script type="text/javascript" src="js/angular-locale_pt-br.js"></script> -->
		</div>

    </body>

</html>
