<div id="footer">

	<!-- <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script> -->

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>
	<!-- <script type="text/javascript" th:src="@{/js/angular.min.js}" ></script> -->
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/jquery.numeric.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/main.js}" ></script>

	<div layout:fragment="js-page">
	</div>


</div>