<div id="footer">
	<footer>
		<div class="container">
			<p class="text-right">
				&copy; <a href="http://r3wa.com.br">R3WA Consultoria e Sistemas</a> <br/>
<!-- 			<span id="siteseal" >
				<script id="siteseal" async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=wq3Ax1Cr72QB8Oj1p4OSYjUWwhcwVRrD2tVgAlmPU3LxdeLLfNbreQRhVpWo">
				</script>
			</span> -->
			</p>
		</div>
	</footer>

	<!-- <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script> -->

	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}" ></script>
	<!-- <script type="text/javascript" th:src="@{/js/angular.min.js}" ></script> -->
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/jquery.numeric.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/main.js}" ></script>

	<div layout:fragment="js-page">
	</div>



</div>