<div id="form" ><!-- class="ng-cloak" -->
  <form action="consulta"  method="post" accept-charset="utf-8" id="material-form">
      <div class="panel panel-default">
          <!-- heading form -->
          <div class="panel-heading">
              <h3 class="panel-title">Material</h3>
              <div class="btn-group" style="float: right">
                  <a href="/cadastros/material" class="btn btn-default" title="Voltar"><i class="glyphicon glyphicon-chevron-left"></i> </a>
                  <a href="" ng-click="save()" class="btn  btn-info">Salvar</a>
              </div>
              <div style="clear: both"></div>
          </div>

		<!-- <input type="hidden" th:value="${material.id}" id="id" /> -->
          <div class="panel-body">
              <div class="col-lg-6">
              <br/>
               <div class="row">
	                <br/>
	                 <div class="col-lg-12">
	                     <label for="basic-url">Código</label>
	                     <input type="text" class="form-control"  id="basic-url" aria-describedby="basic-addon3"  placeholder="Cód. do produto" ng-model="material.codigo"  required=""  data-parsley-error-message="O Código é obrigatório" maxlength="60" /> <!-- th:readonly="${material.id  != null}" -->
	                     <!-- <input type="hidden" th:value="${material.codigo}"  id="codigo" /> -->
	                 </div>
                 </div>
                   <div class="row">
                      <br/>
                      <div class="col-lg-6" >
	                     <label for="basic-url">Valor</label>
	                     <input class="form-control maskMoney"  id="basic-url" aria-describedby="basic-addon3" placeholder="Valor produto" ng-model="material.valor"  required="" data-parsley-error-message="O Valor é obrigatório" maxlength="20"/>
	                     <!-- <input type="hidden" th:value="${material.valor != null ? #numbers.formatDecimal(material.valor, 0, 2) : material.valor}"  id="valor" /> -->
	                 </div>
	                  <div class="col-lg-6">
                          <label for="basic-url">Unidade</label>
                          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"  placeholder="Uni. comercial" ng-model="material.unidade" required=""  data-parsley-error-message="A Unidade é obrigatório" maxlength="6"/>
                          <!-- <input type="hidden" th:value="${material.unidade}" id="unidade" /> -->
                      </div>
                      </div>
                      <div class="row">
                      <br/>
                       <div class="col-lg-6">
                          <label for="basic-url">NCM</label>
                          <input type="text" class="form-control numeric" id="basic-url" aria-describedby="basic-addon3"  placeholder="Cód. NCM" ng-model="material.ncm" required=""  data-parsley-required-message="O NCM é obrigatório" maxlength="8" data-parsley-pattern="([0-9]{8})" />
                          <!-- <input type="hidden" th:value="${material.ncm}" id="ncm" /> -->
                      </div>
                      <div class="col-lg-6">
                          <label for="basic-url">CEST</label>
                          <input type="text" class="form-control numeric" id="basic-url" aria-describedby="basic-addon3" placeholder="Cód. CEST" ng-model="material.cest"  maxlength="7"  ng-change="" />
                          <!-- <input type="hidden" th:value="${material.cest}" id="cest" /> -->
                      </div>
                    </div>
                    <div class="row">
                      <br/>
                       <div class="col-lg-6">
                          <label for="basic-url">CEAN</label>
                          <input type="text" class="form-control numeric" id="basic-url" aria-describedby="basic-addon3"  placeholder="CEAN" ng-model="material.cean"  maxlength="14" data-parsley-pattern="([0-9]{8}||[0-9]{12,14})" data-parsley-pattern-message="Preencher com o código GTIN-8, GTIN-12, GTIN-13 ou GTIN-14"/>
                          <!-- <input type="hidden" th:value="${material.cean}" id="cean" /> -->
                      </div>
                      <div class="col-lg-6">
                          <label for="basic-url">CEAN TRIB.</label>
                          <input type="text" class="form-control numeric" id="basic-url" aria-describedby="basic-addon3" placeholder="CEAN Trib." ng-model="material.ceanTrib" maxlength="14" data-parsley-pattern="([0-9]{8}||[0-9]{12,14})" data-parsley-pattern-message="Preencher com o código GTIN-8, GTIN-12, GTIN-13 ou GTIN-14"/>
                           <!-- <input type="hidden" th:value="${material.ceanTrib}" id="ceanTrib" /> -->
                      </div>
                    </div>
                    <div class="row">
                    <br/>
                      <div class="col-lg-12">
                          <label for="basic-url">Descrição</label>
                          <textarea class="form-control counter" rows='5' placeholder="Informe a descrição do produto" ng-model="material.descricao" required=""  data-parsley-error-message="A Descrição é obrigatório" maxlength="120" ></textarea>
                          <span class="count" style="float:right;"></span>
                          <!-- <input type="hidden" th:value="${material.descricao}" id="descricao" /> -->
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </form>

</div>